{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Lawyer Dashboard</title>
</head>
<body>
    <h2 class="container">Admin Dashboard</h2>
 <div class="main-container">
    
    <h3>Welcome, {{ request.user.username | capfirst }}! Here are the submitted cases:</h3>
 </div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
           {% for case in cases %}
    <tr>
        <td>{{ case.title }}</td>
        <td>{{ case.user.username }}</td>
        <td>{{ case.get_category_display }}</td>
        <td>{{ case.description }}</td>
        <td>
            <form method="post" action="{% url 'change_case_status' case.id %}">
                {% csrf_token %}
                <select name="status" onchange="this.form.submit()">
                    {% for key, value in case.STATUS_CHOICES %}
                        <option value="{{ key }}" {% if case.status == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </form>

            {% if case.status == 'in_progress' %}
                <a href="{% url 'chat_view' case.id %}" class="chat-link">Chat</a>
            {% endif %}
        </td>
        <td>{{ case.created_at }}</td>
    </tr>
             {% endfor %}

        </tbody>
    </table>

    <br>
    <a   href="{% url 'home' %}">Back to Home</a>
    <a href="{% url 'logout' %}">Logout</a>

    <br>
    <footer>
        <p>&copy; 2025 LawConnect.GA All rights reserved.</p>
    </footer>
</body>
</html>
