{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Delete The Case</title>
</head>
<body>
    <h2 class="container">Delete Case</h2>
    <p>Are you sure you want to delete the case titled "{{ case.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
    <br>
    <a href="{% url 'my_cases' %}">Back to My Cases</a>
    <a href="{% url 'home' %}">Back to Home</a>
    <footer>
        <p>&copy; 2025 LawConnect.GA All rights reserved.</p>
    </footer>
</body>
</html>