{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>

    <nav class="navbar fixed-navbar">
    <div class="nav-right">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="LawConnect Logo" class="logo-icon">
        </a>

        <a href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated %}
            {% if not request.user.is_staff %}
                <a href="{% url 'my_cases' %}">My Cases</a>
                <a href="{% url 'submit_case' %}">Submit Case</a>
            {% else %}
                <a href="{% url 'admin_dashboard' %}">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <a href="{% url 'about' %}">About</a>
    </div>
</nav>

<div class="main-container">
    <h2 class="container">Login</h2>
    {% if error %}
    <P style="color:red">{{ error }}</p>
    {% endif %}
 <div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>
 </div>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    <br>
    <a href="{% url 'home' %}">Back to Home</a>
</div>
    <footer>
        <p>&copy; 2025 LawConnect.GA All rights reserved.</p>
    </footer>   

</body>