{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Submit a New Case</title>
</head>
<body>
    <nav class="navbar fixed-navbar">
    <div class="nav-right">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="LawConnect Logo" class="logo-icon">
        </a>

        <a href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated %}
            {% if not request.user.is_staff %}
                <a href="{% url 'my_cases' %}">My Cases</a>
                <a href="{% url 'submit_case' %}">Submit Case</a>
            {% else %}
                <a href="{% url 'admin_dashboard' %}">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <a href="{% url 'about' %}">About</a>
    </div>
</nav>

    <h2 class="container">Submit a New Case</h2>
 <div class="form-container">
        
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Case</button>
    </form>
 

    <a href="{% url 'home' %}">Back to Home</a>
 </div>
</body>
<footer>
    <p>&copy; 2025 LawConnect.GA All rights reserved.</p>
</footer>