{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Update Your Case</title>
</head>
<body>
    <h2 class="container">Update Your Case</h2>
    <div class="main-container">
    <h3>Update the details of your case titled "{{ case.title }}".</h3> 
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Case</button>
    </form>
    <br>
    <a href="{% url 'my_cases' %}">Back to My Cases</a>
    <a href="{% url 'home' %}">Back to Home</a>
    </div>
    <br>    
    <footer>
        <p>&copy; 2025 LawConnect.GA All rights reserved.</p>
    </footer>
</body>
</html>